service-atomsphere/src/test/resources/atomsphere_wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions targetNamespace="http://api.platform.boomi.com/" name="BoomiApiVersion1Service" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.platform.boomi.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema targetNamespace="http://api.platform.boomi.com/">
      <xsd:include schemaLocation="https://api.boomi.com/api/soap/v1/boomi_davehock-T9DOG4?xsd=1"/>
    </xsd:schema>
  </types>
  <message name="get">
    <part name="parameters" element="tns:get"/>
  </message>
  <message name="getResponse">
    <part name="parameters" element="tns:getResponse"/>
  </message>
  <message name="delete">
    <part name="parameters" element="tns:delete"/>
  </message>
  <message name="deleteResponse">
    <part name="parameters" element="tns:deleteResponse"/>
  </message>
  <message name="create">
    <part name="parameters" element="tns:create"/>
  </message>
  <message name="createResponse">
    <part name="parameters" element="tns:createResponse"/>
  </message>
  <message name="query">
    <part name="parameters" element="tns:query"/>
  </message>
  <message name="queryResponse">
    <part name="parameters" element="tns:queryResponse"/>
  </message>
  <message name="update">
    <part name="parameters" element="tns:update"/>
  </message>
  <message name="updateResponse">
    <part name="parameters" element="tns:updateResponse"/>
  </message>
  <message name="execute">
    <part name="parameters" element="tns:execute"/>
  </message>
  <message name="executeResponse">
    <part name="parameters" element="tns:executeResponse"/>
  </message>
  <message name="queryMore">
    <part name="parameters" element="tns:queryMore"/>
  </message>
  <message name="queryMoreResponse">
    <part name="parameters" element="tns:queryMoreResponse"/>
  </message>
  <message name="asyncGet">
    <part name="parameters" element="tns:asyncGet"/>
  </message>
  <message name="asyncGetResponse">
    <part name="parameters" element="tns:asyncGetResponse"/>
  </message>
  <message name="deployProcess">
    <part name="parameters" element="tns:deployProcess"/>
  </message>
  <message name="deployProcessResponse">
    <part name="parameters" element="tns:deployProcessResponse"/>
  </message>
  <message name="deployComponent">
    <part name="parameters" element="tns:deployComponent"/>
  </message>
  <message name="deployComponentResponse">
    <part name="parameters" element="tns:deployComponentResponse"/>
  </message>
  <message name="executeProcess">
    <part name="parameters" element="tns:executeProcess"/>
  </message>
  <message name="executeProcessResponse">
    <part name="parameters" element="tns:executeProcessResponse"/>
  </message>
  <message name="getAssignableRoles">
    <part name="parameters" element="tns:getAssignableRoles"/>
  </message>
  <message name="getAssignableRolesResponse">
    <part name="parameters" element="tns:getAssignableRolesResponse"/>
  </message>
  <message name="changeListenerStatus">
    <part name="parameters" element="tns:changeListenerStatus"/>
  </message>
  <message name="changeListenerStatusResponse">
    <part name="parameters" element="tns:changeListenerStatusResponse"/>
  </message>
  <message name="queryAsync">
    <part name="parameters" element="tns:queryAsync"/>
  </message>
  <message name="queryAsyncResponse">
    <part name="parameters" element="tns:queryAsyncResponse"/>
  </message>
  <message name="asyncResult">
    <part name="parameters" element="tns:asyncResult"/>
  </message>
  <message name="asyncResultResponse">
    <part name="parameters" element="tns:asyncResultResponse"/>
  </message>
  <message name="getBulk">
    <part name="parameters" element="tns:getBulk"/>
  </message>
  <message name="getBulkResponse">
    <part name="parameters" element="tns:getBulkResponse"/>
  </message>
  <message name="installSimpleIPack">
    <part name="parameters" element="tns:installSimpleIPack"/>
  </message>
  <message name="installSimpleIPackResponse">
    <part name="parameters" element="tns:installSimpleIPackResponse"/>
  </message>
  <message name="assignAtomToEnvironment">
    <part name="parameters" element="tns:assignAtomToEnvironment"/>
  </message>
  <message name="assignAtomToEnvironmentResponse">
    <part name="parameters" element="tns:assignAtomToEnvironmentResponse"/>
  </message>
  <portType name="BoomiApiVersion1">
    <operation name="get">
      <input message="tns:get"/>
      <output message="tns:getResponse"/>
    </operation>
    <operation name="delete">
      <input message="tns:delete"/>
      <output message="tns:deleteResponse"/>
    </operation>
    <operation name="create">
      <input message="tns:create"/>
      <output message="tns:createResponse"/>
    </operation>
    <operation name="query">
      <input message="tns:query"/>
      <output message="tns:queryResponse"/>
    </operation>
    <operation name="update">
      <input message="tns:update"/>
      <output message="tns:updateResponse"/>
    </operation>
    <operation name="execute">
      <input message="tns:execute"/>
      <output message="tns:executeResponse"/>
    </operation>
    <operation name="queryMore">
      <input message="tns:queryMore"/>
      <output message="tns:queryMoreResponse"/>
    </operation>
    <operation name="asyncGet">
      <input message="tns:asyncGet"/>
      <output message="tns:asyncGetResponse"/>
    </operation>
    <operation name="deployProcess">
      <input message="tns:deployProcess"/>
      <output message="tns:deployProcessResponse"/>
    </operation>
    <operation name="deployComponent">
      <input message="tns:deployComponent"/>
      <output message="tns:deployComponentResponse"/>
    </operation>
    <operation name="executeProcess">
      <input message="tns:executeProcess"/>
      <output message="tns:executeProcessResponse"/>
    </operation>
    <operation name="getAssignableRoles">
      <input message="tns:getAssignableRoles"/>
      <output message="tns:getAssignableRolesResponse"/>
    </operation>
    <operation name="changeListenerStatus">
      <input message="tns:changeListenerStatus"/>
      <output message="tns:changeListenerStatusResponse"/>
    </operation>
    <operation name="queryAsync">
      <input message="tns:queryAsync"/>
      <output message="tns:queryAsyncResponse"/>
    </operation>
    <operation name="asyncResult">
      <input message="tns:asyncResult"/>
      <output message="tns:asyncResultResponse"/>
    </operation>
    <operation name="getBulk">
      <input message="tns:getBulk"/>
      <output message="tns:getBulkResponse"/>
    </operation>
    <operation name="installSimpleIPack">
      <input message="tns:installSimpleIPack"/>
      <output message="tns:installSimpleIPackResponse"/>
    </operation>
    <operation name="assignAtomToEnvironment">
      <input message="tns:assignAtomToEnvironment"/>
      <output message="tns:assignAtomToEnvironmentResponse"/>
    </operation>
  </portType>
  <binding name="BoomiApiVersion1PortBinding" type="tns:BoomiApiVersion1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="get">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="delete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="create">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="query">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="update">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="execute">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="queryMore">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="asyncGet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deployProcess">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deployComponent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="executeProcess">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAssignableRoles">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="changeListenerStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="queryAsync">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="asyncResult">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBulk">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="installSimpleIPack">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="assignAtomToEnvironment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BoomiApiVersion1Service">
    <port name="BoomiApiVersion1Port" binding="tns:BoomiApiVersion1PortBinding">
      <soap:address location="https://api.boomi.com/api/soap/v1/boomi_davehock-T9DOG4"/>
    </port>
  </service>
</definitions>
